.circle-quarter {
  height: 100px;
  width: 100px;
}
.circle-quarter[data-color="green"] {
  background-color: #008000;
  border-top-left-radius: 200px;
}
.circle-quarter[data-color="red"] {
  background-color: #f00;
  border-top-right-radius: 200px;
}
.circle-quarter[data-color="yellow"] {
  background-color: #ff0;
  border-bottom-left-radius: 200px;
}
.circle-quarter[data-color="blue"] {
  background-color: #00f;
  border-bottom-right-radius: 200px;
}
