@import url('https://fonts.googleapis.com/css?family=Bungee');

$fontTitle = 'Bungee', cursive

$green-circle-radius = 100% 0 0 0
$red-circle-radius = 0 100% 0 0
$yellow-circle-radius = 0 0 0 100%
$blue-circle-radius = 0 0 100% 0

$colorBlack = #161925
$colorRed = #d00000
$colorGreen = #688e26
$colorYellow = #ffb20f
$colorBlue = #053c5e
$colorCenter = #fff8f0
$colorBackground = #BEB0a7
$colorStartButton = #7cb518 
$colorStrictButton = #a10702
$colorOnOffButton = #235789

$circle-main-size = 500px
$circle-quarter-size = 210px
$circle-center-size = 270px
$circle-center-wrap-size = 290px

body {
    background-color: $colorBackground
}

.circle-quarter {
    height: $circle-quarter-size
    margin: 25px
    opacity: 0.6
    position: absolute
    width: $circle-quarter-size
}

.circle-main {
    background-color $colorBlack
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    height: $circle-main-size
    margin: 0 auto
    margin-top: 10vh
    position: relative
    width: $circle-main-size
}

.circle-center-wrap {
    background-color: $colorBlack
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    height: $circle-center-wrap-size
    left: 100px
    margin: 0 auto
    position: absolute
    top: 100px
    width: $circle-center-wrap-size
}

.circle-center {
    background-color $colorCenter
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    height: $circle-center-size
    left: 10px
    position: absolute
    text-align: center
    top: 10px
    width: $circle-center-size
}

.circle-green { 
    background-color: $colorGreen;
    -webkit-border-radius: $green-circle-radius;
    -moz-border-radius: $green-circle-radius;
    -o-border-radius: $green-circle-radius;
    border-radius: $green-circle-radius;
    top: 0
    left: 0
}
    
.circle-red { 
    background-color: $colorRed;
    -webkit-border-radius: $red-circle-radius;
    -moz-border-radius: $red-circle-radius;
    -o-border-radius: $red-circle-radius;
    border-radius: $red-circle-radius;
    right: 0
    top: 0
}

.circle-yellow { 
    background-color: $colorYellow;
    -webkit-border-radius: $yellow-circle-radius;
    -moz-border-radius: $yellow-circle-radius;
    -o-border-radius: $yellow-circle-radius;
    border-radius: $yellow-circle-radius;
    bottom: 0
    left: 0
}

.circle-blue { 
    background-color: $colorBlue;
    -webkit-border-radius: $blue-circle-radius;
    -moz-border-radius: $blue-circle-radius;
    -o-border-radius: $blue-circle-radius;
    border-radius: $blue-circle-radius;
    bottom: 0
    right: 0
}

.btn-start {
    background-color: $colorStartButton
    color: #fff
    position: absolute
    left: 160px
    top: 111px

    &:hover {
        background-color goldenrod
        color: #fff
    }
}

.center-title-wrap {
    color: $colorBlack
    height: 30px
    position: absolute
    top: 60px
    width: 100%
}

.center-title {
    font-family: $fontTitle
    font-size: 30px
    text-decoration: underline
}


.counter {
    background-color: $colorBlack
    border: none
    color: white
    font-family: $fontTitle
    font-size: 20px
    height: 40px
    left: 50px
    position: absolute
    text-align: center
    top: 110px
    width: 100px
}

.btn-on-off {
    background-color: $colorOnOffButton
    color: #fff
    left: 80px
    position: absolute
    top: 200px
}

.on-off {
    position: absolute
    left: 180px
    top: 207px
}

.btn-strict {
    background-color: $colorStrictButton
    color: #fff    
    left: 87px
    position: absolute
    top: 160px
}

.strict {
    position: absolute
    left: 180px
    top: 167px
}

.small-display {
    background-color: #000
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    height: 20px
    // position: absolute
    width: 20px

}